{% extends "@boilerplate/include/base.html.twig" %}
{% block content %}
    <div class="card shadow">
        <div class="card-body">
            {% include "@boilerplate/include/card_horizontal_image_text_borderless_markup.html.twig" %}
        </div>
    </div>
{% endblock %}